.header-container {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;/* Assure que le header reste au-dessus des autres éléments */
}

body {
    /* Ajoute un padding en haut pour éviter que le contenu
    soit caché derrière le header */
    padding-top: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
}

.table-ligne-impaire {
    background-color: #f6f8fa;
}

.footer-container {
    background-color: #4CAF50;
    color: white;
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}