<!DOCTYPE html>
<html>
<head>
    <title>Symfony & table de Pythagore</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
    <h1>{{ name }}</h1>
    {{ table }}
</body>
</html>