{# templates/displayPythagore.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Symfony & table de pythagore</title>
</head>
<body>
    <h1>{{ name }}</h1>
    {{ tableHtml|raw }}
</body>
</html>
