{# templates/pythagore/displayPythagore.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symfony & table de pythagore</title>
</head>
<body>
    <h1>Diallo Mariama</h1>

    <h2>Table de Pythagore</h2>

    {{ pythagoreTable|raw }}
</body>
</html>
